.upload{
    background-image: url('../assets/upload.svg');
}
.edit{
    background-image: url('../assets/auto_fix.svg');
}
.home{
    background-image: url('../assets/home.svg');
}
.settings{
    background-image: url('../assets/settings.svg');
}
.logout{
    background-image: url('../assets/logout.svg');
}
.logo{
    background-image: url('../assets/logo.png');
}
.contact{
    background-image: url('../assets/contact_support.svg');
}
.about{
    background-image: url('../assets/info.svg');
}
.facebook{
    background-image: url('../assets/facebook.png');
}
.twitter{
    background-image: url('../assets/twitter.png');
}
.instagram{
    background-image: url('../assets/instagram.png');
}
.website{
    background-image: url('../assets/website.png');
}
.edit-wall{
    background-image: url('../assets/edit.png');
}
.delete{
    background-image: url('../assets/delete.png');
}

.icon-nes{
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}
.icon-settings{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

