<meta name="robots" content="max-image-preview:large">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#202020">
<meta name="apple-mobile-web-app-title" content="Wallpaper Access">
<meta name="application-name" content="Wallpaper Access">
<meta name="msapplication-TileColor" content="#202020">
<meta name="theme-color" content="#202020">
<link async rel="stylesheet" type="text/css" href="/style/style_v04.css">
<link async rel="stylesheet" type="text/css" href="/style/style_preview_min_v03.css">
<link async rel="stylesheet" type="text/css" href="/style/style_three_line_col_v04.css">

<style>
    div:empty{
        display : none;
    }
    .ipib-view, .ipib-download{
        display:none !important;
    }
    body{overflow-x:hidden !important;}
</style>