<style>
    .just-below-preview-image-ads{
        width:100% !important;overflow:hidden !important;padding:0px !important;margin:0px !important;box-sizing:border-box !important;
    }
    .show-below-900 {
        display:none;
    }
    @media(max-width:900px){
        .just-below-preview-image-ads{
            width: calc(100vw - 20px) !important;
        }
        .just-below-preview-image-ads > iframe{
            width: 100% !important;
            overflow: hidden !important;
        }
        .show-below-900 {
            width:100%;
            overflow:hidden;
            display:block;
        }
    }
    @media(max-width:900px){
        
        .hide-below-750{
            display:none;
        }
    }
</style>
<div class="just-below-preview-image-ads" style="display:flex;align-items:center;justify-content:center;">
<!-- display_horizontal_ad_03 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2522440384764425"
     data-ad-slot="7138956512"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>